<button data-controller="submit" data-action="click->submit#go">Submit</button>
<br>
<% if params[:request] %>
<%= Request.find(params[:request]).address %>
<ul>
  <%= Time.now %>
  <% Result.where(request: params[:request]).each do |result| %>
    <li><%= result.station.name %> - <%= result.num_bikes %></li>
  <% end %>
</ul>
<% end %>